{{ form_start(form) }}
    <button type="button" class="trash glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal{{ id }}" title="Delete"></button>

    <!-- Modal -->
    <div class="modal fade" id="myModal{{ id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog pending-modal" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h4>Are you sure you want to delete the post?</h4>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-form btn-link" data-dismiss="modal">Cancel</button>
                    <button id="approve" class="btn btn-form" type="submit">Delete</button>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
